// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Bootstrap main file
@import "../../node_modules/bootstrap/scss/bootstrap";

// .my-special-style {
//   height: 300px;
//   object-fit: cover;
// }
.bg-unique {
  background-color: azure;
}
.bg-unique-2 {
  background-color: rgb(250, 240, 240);
}
.bg-unique-3 {
  background-color: rgb(240, 244, 250);
}
.bg-unique-4 {
  background-color: rgb(115, 127, 155);
}
.m-width-220 {
  max-width: 200px;
}
.m-width-100 {
  max-width: 50px;
}
.m-width-profile-img {
  max-width: 150px;
}
.width-connections {
  max-width: 50px;
}
.width-connections-container {
  width: 100px;
}
.height-100 {
  height: 100px;
}
.scrollable {
  height: 100vh;
  overflow-y: auto;
  overflow: auto;
}

// Example (the btn-unique and btn-lazy class needs to be added somwhere
//The btn-transition-fancy should be added to the variables file together with the og transition
$btn-transition-fancy: #{$btn-transition + ", transition 1s ease-in-out"};


.btn {
  &-unique {
    @include button-variant($primary, $danger);
    font-family: Arial, Helvetica, sans-serif;
    @include transition($btn-transition-fancy);

    &:hover {
      transform: scale(2) skew(25deg);
    }

    &:focus {
      transform: scale(2) skew(25deg);
    }
  }
}
