
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";



// Bootstrap main file
@import "../../node_modules/bootstrap/scss/bootstrap";


// .my-special-style {
//   height: 300px;
//   object-fit: cover;
// }
.bg-unique {
  background-color: azure;
}
.bg-unique-2 {
  background-color: rgb(250, 240, 240);
}
.bg-unique-3 {
  background-color: rgb(240, 244, 250);
}
.bg-unique-4 {
  background-color: rgb(115, 127, 155);
}
.m-width-220 {
  max-width: 220px;
}